@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
}
*,*::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--red);
    overflow-x: hidden;
    position: relative;
    color: white;
}
.top-desc {
    grid-area: top-desc;
}
.form form {
    all: unset;
}
.form form input {
    all: unset;
}
button {
    all: unset;
}
.form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form > button {
    background-color: var(--blue);
    box-shadow: 0px 5px 0px 0px rgba(62, 60, 73, 25%);
    font-weight: 600;
}
.form > button span {
    color: var(--grayishBlue);
    font-weight: 400;
}
.form .in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 7px 0px 0px rgba(62, 60, 73, 23%);
}
.in-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.in-form form input {
    position: relative;
    color: var(--darkBlue);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    opacity: 0.8;
}
input::-webkit-input-placeholder {
    /*Chrome/Opera/Safari/Edge*/color: var(--darkBlue);
    font-weight: 600;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-10%, -50%);
    -moz-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    -o-transform: translate(-10%, -50%);
}
input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--darkBlue);
    font-weight: 600;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-5%, -50%);
    -moz-transform: translate(-5%, -50%);
    -ms-transform: translate(-5%, -50%);
    -o-transform: translate(-5%, -50%);
}
input:-ms-input-placeholder {
    /*IE10+*/color: var(--darkBlue);
    font-weight: 600;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-10%, -50%);
    -moz-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    -o-transform: translate(-10%, -50%);
}
input::-moz-placeholder {
    /*Firefox19+*/opacity: 1;
    color: var(--darkBlue);
    font-weight: 600;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-10%, -50%);
    -moz-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    -o-transform: translate(-10%, -50%);
}
input:-moz-placeholder {
    /*Firefox18-*/opacity: 1;
    color: var(--darkBlue);
    font-weight: 600;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-10%, -50%);
    -moz-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    -o-transform: translate(-10%, -50%);
}
input::placeholder {
    color: var(--darkBlue);
    font-weight: 600;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-10%, -50%);
    -moz-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    -o-transform: translate(-10%, -50%);
}
.in-form p span {
    color: var(--red);
    font-weight: 700;
}
footer {
    grid-area: attribution;
    height: 100%;
    display: flex;
    align-items: center;
}
@media (max-width: 280px) {
}
@media (min-width: 320px) and (min-height: 480px),
(max-width: 320px) and (max-height: 480px) /* iphone 4 */ {
    html {
        font-size: 12px;
    }
    body {
        background-image: url('images/bg-intro-mobile.png');
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: column;
    }
    .top-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: 47vh;
    }
    .top-desc .title {
        font-size: 1.7rem;
        font-weight: 700;
        width: 54%;
    }
    .top-desc p {
        width: 73%;
        line-height: 20px;
        opacity: 0.9;
    }
    .form {
        width: 80%;
        justify-content: space-between;
        height: 100vh;
    }
    .form > button {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        width: 98.012%;
        height: 13%;
        text-align: center;
        font-size: 1.1rem;
        height: 14%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form > button p {
        width: 57%;
    }
    .form .in-form {
        background-color: white;
        width: 100%;
        height: 80%;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .in-form form {
        height: 70%;
        width: 100%;
        justify-content: space-evenly;
    }
    .in-form form .input {
        height: 16%;
        width: 81.14%;
        position: relative;
        margin-right: 6%;
    }
    .in-form form input {
        height: 100%;
        width: 100%;
        border: 1px solid rgba(192, 190, 202, 50%);
        padding-left: 6%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .in-form form input + img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        display: none;
    }
    .in-form button {
        height: 10%;
        background-color: var(--green);
        width: 86.78%;
        text-align: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0px 2px 0px 0px #31b07b;
    }
    .in-form p {
        width: 70%;
        height: 10%;
        color: var(--grayishBlue);
        font-size: 0.7rem;
        text-align: center;
    }
    footer {
        height: 10vh;
    }
    .attribution {
        font-size: 0.7rem;
    }
}
@media (min-width: 320px) and (min-height: 533px) /* nokia lumia 520 */ {
    .top-desc p {
        line-height: 22px;
    }
}
@media (min-width: 320px) and (min-height: 658px) /* galaxy s9+ */ {
    .top-desc {
        height: 37vh;
    }
    .top-desc p {
        line-height: 23px;
    }
    .form {
        height: 82vh;
    }
    .in-form form .input {
        height: 18%;
    }
}
@media (min-width: 353px) and (min-height: 745px) /* pixel 4 */ {
    html {
        font-size: 13px;
    }
    .top-desc {
        height: 34vh;
    }
    .top-desc p {
        line-height: 24px;
    }
    .form {
        height: 70vh;
    }
    .form > button {
        height: 15%;
    }
    .form > button p {
        width: 56%;
    }
    .in-form button {
        height: 11%;
        box-shadow: 0px 3px 0px 0px #31b07b;
    }
    .in-form p {
        width: 78%;
        font-size: 0.8rem;
    }
}
@media (min-width: 360px) and (min-height: 640px) {
    html {
        font-size: 14px;
    }
    .top-desc {
        height: 37vh;
    }
    .top-desc .title {
        width: 56%;
    }
    .top-desc p {
        width: 76%;
        line-height: 24px;
    }
    .form > button {
        height: 13%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form > button p {
        width: 59%;
    }
    .in-form p {
        width: 72%;
    }
}
@media (min-width: 360px) and (min-height: 740px) /* galaxy s8 */ {
}
@media (min-width: 375px) and (min-height: 667px) /* iphone se */ {
    .form > button {
        height: 15%;
    }
}
@media (min-width: 375px) and (min-height: 812px) /* iphone x */ {
    .top-desc p {
        line-height: 25px;
    }
    .in-form p {
        width: 74%;
        font-size: 0.7rem;
    }
}
@media (min-width: 384px) and (min-height: 640px) /* lg optimus l70 */ {
    html {
        font-size: 15px;
    }
    .form > button {
        height: 14%;
    }
    .top-desc p {
        width: 76%;
    }
    .in-form p {
        width: 72%;
    }
}
@media (min-width: 390px) and (min-height: 731px) /* iphone 12 pro */ {
    .top-desc {
        height: 32vh;
    }
    .in-form p {
        width: 76%;
        font-size: 0.7rem;
    }
    .form > button {
        height: 15%;
    }
}
@media (min-width: 411px) and (min-height: 731px) /* pixel 2 */ {
    html {
        font-size: 16px;
    }
}
@media (min-width: 411px) and (min-height: 823px) /* pixel 2 xl */ {
    .form > button {
        height: 16%;
    }
}
@media (min-width: 412px) and (min-height: 720px) /* responsive */ {
    html {
        font-size: 16px;
    }
    .form > button {
        height: 16%;
    }
}
@media (min-width: 412px) and (min-height: 914px) /* galaxy a51/71 */ {
}
@media (min-width: 480px) and (min-height: 736px) /* nokia n9 */ {
    html {
        font-size: 18px;
    }
    .form {
        height: 83vh;
    }
    .in-form p {
        width: 75%;
    }
    .form > button {
        box-shadow: 0px 7px 0px 0px rgb(62 60 73 / 25%);
    }
    .form .in-form {
        box-shadow: 0px 9px 0px 0px rgb(62 60 73 / 23%);
    }
}
@media (min-width: 540px) and (min-height: 720px) /* surface duo */ {
    body {
        grid-template-rows: 38% 1fr 10%;
    }
    .top-desc p {
        width: 60%;
        line-height: 28px;
    }
    .form {
        height: 82vh;
        width: 61%;
    }
    .form > button {
        box-shadow: 0px 7px 0px 0px rgb(62 60 73 / 25%);
    }
    .form .in-form {
        box-shadow: 0px 9px 0px 0px rgb(62 60 73 / 23%);
    }
}
@media (min-width: 600px) and (min-height: 900px) /* responsive */ {
    .form {
        height: 78vh;
    }
    .form > button p {
        width: 60%;
    }
}
@media (min-width: 600px) and (min-height: 1024px) /* blackberry playbook */ {
    body {
        grid-template-rows: 31% 1fr 10%;
    }
    .form {
        height: 70vh;
    }
    .top-desc p {
        line-height: 32px;
    }
}
@media (min-width: 712px) and (min-height: 1138px) /* galaxy tab s4 */ {
    html {
        font-size: 21px;
    }
}
@media (min-width: 768px) and (min-height: 1024px) /* ipad mini */ {
    html {
        font-size: 23px;
    }
    body {
        grid-template-rows: 43% 1fr 10%;
    }
    .top-desc {
        height: 37vh;
    }
    .top-desc p {
        line-height: 39px;
    }
    .form {
        height: 85vh;
    }
}
@media (min-width: 800px) and (min-height: 1280px) /* nexus 10 */ {
    html {
        font-size: 24px;
    }
    .top-desc {
        height: 32vh;
    }
    .form {
        height: 78vh;
    }    
    .form > button {
        box-shadow: 0px 9px 0px 0px rgb(62 60 73 / 25%);
    }
    .form .in-form {
        box-shadow: 0px 11px 0px 0px rgb(62 60 73 / 23%);
    }
}
@media (min-width: 912px) and (min-height: 1200px) /* surface pro 7 (responsive) */ {
    html {
        font-size: 27px;
    }
}
@media (min-width: 1024px) and (min-height: 600px) /* nest hub */ {
    html {
        font-size: 13px;
    }
    body {
        background-image: url('images/bg-intro-desktop.png');
        display: grid;
        grid-template-areas: 
        "top-desc form" "attribution .";
        grid-template-rows: 90% 10%;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }
    .top-desc {
        grid-area: top-desc;
        width: 78%;
        justify-self: center;
        height: 39vh;
    }
    .top-desc .title {
        font-size: 3rem;
        width: 100%;
        text-align: left;
    }
    .top-desc p {
        width: 100%;
        line-height: 22px;
        text-align: left;
    }
    .form {
        grid-area: form;
        width: 80%;
        height: 90%;
        justify-self: flex-start;
    }
    .form > button {
        font-size: 1.2rem;
        width: 100%;
    }
    .form > button p {
        width: 100%;
    }
    .in-form form input {
        padding-left: 8%;
    }
    .in-form form .input {
        height: 19%;
    }
    .form .input input {
        font-size: 1.2rem;
    }
    .in-form p {
        width: 100%;
    }
    footer {
        grid-area: attribution;
        height: 100%;
        width: 200%;
        position: absolute;
        right: -100%;
        justify-content: center;
    }
    .attribution {
        font-size: 1rem;
    }

}
@media (min-width: 1024px) and (min-height: 768px) /* responsive */ {
    .form {
        justify-content: space-around;
        width: 70%;
        heigth: 90%;
        justify-self: center;
    }
    .form > button {
        height: 13%;
    }
    .form .in-form {
        height: 77%
    }
}
@media (min-width: 1280px) and (min-height: 800px) /* nest hub max */ {
    html {
        font-size: 15px;
    }
    .top-desc {
        height: 29vh;
    }
    .form {
        height: 85%;
        width: 65%;
    }
}
@media (min-width: 1280px) and (min-height: 1024px) /* responsive */ {
    html {
        font-size: 16px;
    }
    .form {
        width: 71%;
    }
}
@media (min-width: 1366px) and (min-height: 768px),
(min-width: 1366px) and (max-height: 768px) /* responsive */ {
    html {
        font-size: 15px;
    }
    .form {
        width: 66%;
        height: 95%;
    }
}
@media (min-width: 1600px) and (min-height: 795px) /* responsive */ {
    html {
        font-size: 29px;
    }
    .form {
        width: 65%;
        height: 90%;
    }
}
@media (min-width: 1920px) and (min-height: 1080px) /* responsive */ {
    html {
        font-size: 22px;
    }
    .form {
        width: 66%;
        height: 90%;
    }
    .top-desc p {
        line-height: 35px;
    }
}
@media (min-width: 2560px) and (min-height: 1080px) /* responsive */ {
    html {
        font-size: 29px;
    }
    .top-desc {
        height: 50vh;
    }
    .top-desc p {
        line-height: 55px;
    }
    .form {
        width: 70%;
        height: 95%;
    }
    .form > button {
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
    }
    .form .in-form {
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
    }
}
@media (min-width: 2560px) and (min-height: 1440px) /* responsive */ {
    .top-desc {
        height: 36vh;
    }
}
